// sass input.scss output.css
// sass --watch input.scss output.css
$font-stack: "Rubik", sans-serif;
$primary-color: #7eb09b;
$secondary-color: #519e8a;
$small-desktop-space: 7px;
$large-desktop-space: 66px; /*was 50px*/

.center-content {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 1233px) minmax(1rem, 1fr);
}
.center-content > * {
  grid-column: 2;
}
body {
  font: 100% $font-stack;
  margin: 0px;
  margin-top: $small-desktop-space;
}
h1 {
  font-size: 64px;
  color: $secondary-color;
  margin-left: $small-desktop-space;
  display: inline;
}
.header__logo {
  height: 60px;
  width: 60px;
}
.header__byline {
  color: $primary-color;
  font-size: 22px;
  margin-top: $small-desktop-space;
}
.links {
  float: right;
  position: relative;
  top: -43px;
}
a {
  text-decoration: none;
  color: black;
  margin-left: $small-desktop-space;
}
.links {
  a:hover {
    background-color: $primary-color;
  }
}

#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #2c3cc800;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 30px;
  opacity: 0.5;
  width: 80px;
  height: 80px;
}

#myBtn:hover {
  opacity: 1;
}
section:hover {
  cursor: pointer;
  h2 {
    color: $primary-color;
  }
}
.first-section {
  img {
    height: 299px;
    width: 645px;
    display: inline;
    float: left;
    margin-right: $small-desktop-space;
  }
  div {
    height: 299px;
    margin-bottom: $large-desktop-space;
    overflow: hidden;
    time {
      font-size: 18px;
    }
    h2 {
      font-size: 48px;
      font-weight: normal;
      margin: $small-desktop-space 0;
      width: 581px;
    }
    p {
      font-size: 24px;
      margin: 0px;
      width: 581px;
    }
  }
  margin-right: 0px;
  margin-bottom: $large-desktop-space/2;
  height: 332px;
}
.grid {
  display: grid;
  grid-template: auto auto / auto auto auto;
}
%small-vertical-spacing-dt {
  margin-top: $small-desktop-space;
  margin-bottom: 0px;
}
section {
  img {
    height: 170px;
    width: 367px;
  }
  div time {
    font-size: 18px;
    @extend %small-vertical-spacing-dt;
  }
  div h2 {
    font-size: 36px;
    text-transform: capitalize;
    margin: 0px;
    width: 367px;
    font-weight: normal;
  }
  div p {
    font-size: 22px;
    @extend %small-vertical-spacing-dt;
    width: 367px;
  }
  // margin-right: $large-desktop-space;
  margin-bottom: $large-desktop-space/2;
  border-bottom: 1px solid $secondary-color;
  height: 457px;
}
.flex-box:first-child {
  margin-right: 0;
}
.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer {
  background-color: $secondary-color;
  text-align: center;
  grid-column: 1/-1 !important;
  padding-top: $small-desktop-space;
  a:hover {
    text-decoration: underline;
  }
}
