// sass input.scss output.css
// sass --watch input.scss output.css
$font-stack: "Rubik", sans-serif;
$primary-color: #7eb09b;
$secondary-color: #519e8a;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
